{% autoescape false %}
{% set url = 'https://dav.925id.org' %}
<style>
	.label-intext { vertical-align: top;}
</style>
<header class="jumbotron subhead" id="overview">
	<h1><i class="la la-weight" style="font-size: 1.2em;position:relative;top:.075em;left:-.15em"></i>Dashboard</h1>
</header>

<section id="about">
	<div class="page-header">
		<h2>About this system</h2>
	</div>
	<div class="row">
		<div class="span3">
			<h3>Version</h3>
			<p>This systems runs 925:dav <span class="label label-info label-intext">{{ BAIKAL_VERSION }}</span><br />
				<small><a href="{{ url }}" target="_blank">{{ url }}</a></small>
			</p>
			<p id="newVersionContainer" style="display: none;">
				<a class="alert alert-info" href="https://github.com/sabre-io/Baikal/releases/latest" target="_blank">
					New version available: <span id="newVersion" class="label label-info label-intext">0.0.0</span>
				</a>
			</p>
			<script type="text/javascript">
				window.onload = function () {
					jQuery.ajax({
						url: "https://api.github.com/repos/sabre-io/Baikal/releases/latest",
						success: function(result) {
							if (result.name != "{{ BAIKAL_VERSION }}") {
								$("#newVersion").text(result.name);
								$("#newVersionContainer").show();
							}
						}
					});
				};
			</script>
		</div>
		<div class="span3">
			<h3>Services</h3>
			{% if cal_enabled %}
				{% set caldavclass = 'label-success' %}
				{% set caldavtext = 'On' %}
			{% else %}
				{% set caldavclass = 'label-important' %}
				{% set caldavtext = 'Off' %}
			{% endif %}

			{% if card_enabled %}
				{% set carddavclass = 'label-success' %}
				{% set carddavtext = 'On' %}
			{% else %}
				{% set carddavclass = 'label-important' %}
				{% set carddavtext = 'Off' %}
			{% endif %}

			<table class="table">
				<tbody>
					<tr>
						<td>Web Admin</td>
						<td><span class="label label-success label-intext">On</span></p></td>
					</tr>
					<tr>
						<td>WebDAV</td>
						<td><span class="label label-success label-intext">On</span></p></td>
					</tr>
					<tr>
						<td>CalDAV</td>
						<td><span class="label {{ caldavclass }} label-intext">{{ caldavtext }}</span></td>
					</tr>
					<tr>
						<td>CardDAV</td>
						<td><span class="label {{ carddavclass }} label-intext">{{ carddavtext }}</span></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="span6">
			<h3>License and credits</h3>
			<p>925:dav is open source software licensed under the terms of the GNU GPL v3.</p>
			<p>The source code is based upon Baïkal and other open source projects.</p>
		</div>
	</div>
</section>

<section id="statistics">
	<div class="page-header">
		<h2>Statistics</h2>
	</div>
	<div class="row">
		<div class="span4">
			<h3>WebDAV</h3>
			<table class="table">
				<tbody>
					<tr>
						<td>Registered users</td>
						<td><span class="badge">{{ nbusers }}</span></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="span4">
			<h3>CalDAV</h3>
			<table class="table">
				<tbody>
					<tr>
						<td>Number of calendars</td>
						<td><span class="badge">{{ nbcalendars }}</span></td>
					</tr>
					<tr>
						<td>Number of events</td>
						<td><span class="badge">{{ nbevents }}</span></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="span4">
			<h3>CardDAV</h3>
			<table class="table">
				<tbody>
					<tr>
						<td>Number of address books</td>
						<td><span class="badge">{{ nbbooks }}</span></td>
					</tr>
					<tr>
						<td>Number of contacts</td>
						<td><span class="badge">{{ nbcontacts }}</span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
{% endautoescape %}
