{% autoescape false %}
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="{{ homelink }}"><i class="la la-server" style="font-size: 1.2em;position:relative;top:.075em;left:-.15em"></i> 925:dav Server</a>
			<div class="nav-collapse">
				<ul class="nav">
					<li> <a href="admin/"><i class="la la-weight" style="font-size:1.25em;"></i> Login</a></li>
					<li> <a target="_blank" rel="noopener noreferrer" href="https://dav.925id.org/"><i class="la"></i> Get your own</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endautoescape %}
